.task-filter-container {
    background-color: whitesmoke;
}

.task-filter-container li {
    font-size: 12px;
}

.task-filter-container p {
    margin: .4rem;
}
.task-filter-container input {
    margin: .4rem;
}
.task-filter-container label {
    margin: 0 .4rem 0 0;
}
