.footer {
    height: 50px;
    background-color: #424242;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #424242;
}

.footer p {
    text-align: center;
    color: white;
}